<div class="back-button">
  <a class="link" href="/">
    <i class="fas fa-arrow-left"></i>
    Volver al listado <% if (categoria) { %>
    <i class="fas fa-chevron-right"></i>
    <%= categoria %> <% } %>
  </a>
</div>
