<div class="back">
  <a class="link">
    <i class="fas fa-arrow-left"></i>
    <p>Volver al listado</p>
    <% if (categoria) { %>
    <i class="fas fa-chevron-right"></i>
    <%= categoria %> <% }) %> <% } %>
  </a>
</div>
