<footer>
  <div class="social-networks">
    <a><i class="fab fa-twitter"></i></a>
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-youtube"></i></a>
  </div>

  <p>© Banco Santander S.A. Todos los derechos reservados.</p>

  <div class="apps">
    <a><i class="fab fa-apple"></i>App Store</a>
    <a><i class="fab fa-google-play"></i>Google Play</a>
  </div>
</footer>
