<footer>
  <div class="social-networks">
    <a><i class="fab fa-twitter"></i></a>
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a>
    <a><i class="fab fa-youtube"></i></a>
  </div>

  <p class="copyright">© Banco Santander S.A. Todos los derechos reservados.</p>

  <div class="apps">
    <a><i class="fab fa-apple"></i> <span>App Store</span></a>
    <a><i class="fab fa-google-play"></i><span>Google Play</span></a>
  </div>
</footer>
