<footer>
  <div class="social-networks">
    <a href="https://twitter.com/Santander_Ar/" target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
    <a href="https://facebook.com/Santander.Ar/" target="_blank"
      ><i class="fab fa-facebook"></i
    ></a>
    <a href="https://www.instagram.com/santander_ar/" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a
      href="https://www.youtube.com/channel/UC3-ymcs37UTOC3rON_LCGxg"
      target="_blank"
      ><i class="fab fa-youtube"></i
    ></a>
  </div>

  <p class="copyright">© Banco Santander S.A. Todos los derechos reservados.</p>

  <div class="apps">
    <a
      href="https://apps.apple.com/sv/app/santander-argentina/id626971464"
      target="_blank"
      ><i class="fab fa-apple"></i>App Store</a
    >
    <a
      href="https://play.google.com/store/apps/details?id=ar.com.santander.rio.mbanking"
      target="_blank"
      ><i class="fab fa-google-play"></i>Google Play</a
    >
  </div>
</footer>
