<header>
  <img src="./img/santanderLogo.svg" alt="Logo Santander" width="136" />
  <form class="search-bar" action="/" method="get">
    <input type="text" name="search" id="" placeholder="Buscar productos..." />
    <button><i class="fas fa-search"></i></button>
  </form>
</header>
