<header>
  <img src="./img/santanderLogo.svg" alt="Logo Santander" width="136" />

  <form class="search-bar" action="/" method="get">
    <input type="text" name="search" id="" placeholder="Buscar productos..." />
    <button><i class="fas fa-search"></i></button>
  </form>

  <div class="header-buttons">
    <button class="cart-button">
      <i class="fas fa-shopping-cart"></i>
      <div class="products-num">2</div>
    </button>
    <button class="user-button">
      <img src="./img/perfil.png" alt="Imagen de perfil" /> Olivia
    </button>
  </div>
</header>
