<header>
  <img src="./img/santanderLogo.svg" alt="Logo Santander" width="136" />

  <form class="search-bar" action="/" method="get">
    <input type="text" name="search" id="" placeholder="Buscar productos..." />
    <button><i class="fas fa-search"></i></button>
  </form>

  <div>
    <div class="cart-button">
      <i class="fas fa-shopping-cart"></i>
    </div>
    <div class="products-num">2</div>
    <!-- <div class="user-button"><img src="" alt="Imagen de perfil" /> Olivia</div> -->
  </div>
</header>
