<nav class="nav">
    <div class="cont-icons-bar">
        <img src="/imgs/tablet-cellphone.svg" alt="">
        <span>Electrónica</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/hamburger.svg" alt="">
        <span>Alimentos</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/glass-mug-variant.svg" alt="">
        <span>Bebidas</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/tshirt-crew.svg" alt="">
        <span>Indumentaria</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/controller-classic.svg" alt="">
        <span>Juegos</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/steering.svg" alt="">
        <span>Automotor</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/sofa-single.svg" alt="">
        <span>Hogar</span>
    </div>
    <div class="cont-icons-bar">
        <img src="/imgs/gift-outline.svg" alt="">
        <span>Otros</span>
    </div>
</nav>