<div class="product-item">
    <div class="product-img">
        <img src="/imgs/havanna1.jpg" alt="">
    </div>
    <div class="product-info">
        <div class="product-name">
            <span>NOMBRE DEL PRODUCTO O SERVICIO</span>
        </div>
        <div class="product-price">
            <span>XX.XXX</span>
            <span>PUNTOS SUPERCLUB</span>
        </div>
    </div>
</div>