<div class="tepuedeinteresar cont-products-items">
    <h3>Te puede interesar</h3>
    <div>
        <% for (let i=0;i<4;i++){ %>
            <%- include("product-item") %>
                <% } %>
    </div>
</div>