.cart-container {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  transition: all 300ms;
}

.categoria-cart {
  margin-top: 1rem;
}

.cart-product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  height: 3rem;
  padding: 2rem 1rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}

.cart-descripcion-flex {
  width: 380px;
}

.cart-botones-flex {
  display: flex;
}

.cart-product-img {
  border-radius: 8px;
  position: relative;
  top: 2.5px;
  left: -8px;
  aspect-ratio: 1;
  width: 50px;
  object-fit: cover;
  transition: all 300ms;
}

.cart-product-title {
  position: relative;
  top: -15px;
  transition: all 300ms;
}

.cart-puntos {
  font-size: 20px;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 300ms;
}

.cart-descripcion-final {
  font-size: 20px;
}

.cart-puntos-total {
  text-align: right;
  padding-right: 1rem;
  margin: 2rem 0;
}

.cart-contador {
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 12px;
  background-color: var(--white);
  border-radius: 18px;
  border: 1px solid black;
}

.cont-operador {
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button-pagar {
  text-align: right;
  margin-bottom: 2rem;
}

.boton {
  padding: 0.4rem 1.35rem;
  margin: 0 0.5rem;
  font-size: 12px;
  color: white;
  background-color: var(--grey);
  border-radius: 18px;
  text-decoration: none;
  transition: all 300ms;
  cursor: pointer;
}

.boton:hover {
  background-color: var(--red);
}

.div-cupon {
  width: 50%;
  position: relative;
  right: -47%;
}

#cupon {
  padding: 0.5rem;
  margin: 0 1rem 1rem;
  width: 100%;
  text-align: right;
  border-radius: 20px;
  border: solid 2px #ccc;
}

@media (max-width: 900px) {
  .cart-product-title {
    font-size: 14px;
  }
  .cart-puntos {
    font-size: 16px;
    margin-left: 0.3rem;
    padding-top: 3px;
  }
  .boton {
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 820px) {
  .cart-container {
    width: 92%;
  }
  .cart-product-flex {
    flex-direction: column;
    height: 4rem;
    padding: 0.5rem 1rem 6rem;
    min-width: 360px;
  }
  .boton {
    padding: 0.4rem 0.5rem;
    transition: padding 0ms;
  }
}

@media (max-width: 600px) {
  .cart-product-title {
    position: relative;
    left: 30px;
  }
  .cart-product-img {
    position: relative;
    left: 20px;
  }
  .cart-botones-flex {
    position: relative;
    right: 0px;
  }
}
