.div-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 5%;
    position: relative;
    top: -250px;
}

.div-adentro {
    background-color: white;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-form h2 {
    padding-top: 20px;
    margin: 5px;
    padding-left: 15px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.div-form input {
    padding: 2.5%;
    margin: 3%;
    width: 100%;
    border-radius: 20px;
    border: solid 2px #ccc;
}

.div-form button {
    padding: 2.5%;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 20px;
    background-color: #494F51;
    color: white;
    border: none;
}

.texto-abajo {
    font-size: 12px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    top: -250px;
}

.links {
    color: black;
}

.cuerpo-rojo {
    height: 250px;
    background-color: var(--red);
}