* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 100%;
}

.cont-product-heroes {
    width: 100%;
    background-color: #EC0000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
}

.products-heroes {
    display: flex;
    width: 26%;
    height: 256px;
    padding: 8px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    color: white;
    margin-top: -50px;
}

.products-heroes:first-child {
    background-image: url('/imgs/disneybg.jpg');
    margin-right: 15px;
}

.products-heroes:last-child {
    background-image: url('/imgs/hbobg.jpg');
}

.icon-brand {
    width: 112px;
    margin-right: 16px;
}

.icon-brand img {
    width: 100%;
    border-radius: 16px;
}

.products-heroes span {
    font-weight: bold;
    font-size: 20px;
}