* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(153, 153, 153, 1);
  --lightgrey: rgb(153, 153, 153, 1);
  --grey: rgb(73, 79, 81, 1);
  --red: rgb(236, 0, 0, 1);
  --black: rgb(0, 0, 0, 1);
}

body {
  background-color: grey;
}

html {
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
}

.search-bar input {
  width: 900px;
  height: 32px;
  border-radius: 16px;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.search-bar button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--grey);
  position: relative;
  right: 35px;
}

.cart-button {
  width: 32px;
  height: 32px;
  background: rgba(73, 79, 81, 1);
  border-radius: 16px;
  padding: 8px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  text-align: center;
}

.products-num {
  border-radius: 8px;
  width: 12px;
  height: 8px;
  font-size: 8px;
  background: rgba(236, 0, 0, 1);
  color: white;
  position: relative;
  bottom: 32px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */

footer {
  color: var(--grey);
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 64px;
  backdrop-filter: blur(4px);
  padding: 16px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  gap: 120px;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

footer i {
  font-size: 20px;
}

.social-networks {
  display: flex;
  gap: 23px;
}

.apps {
  display: flex;
  gap: 16px;
}

.apps i {
  padding-right: 8px;
}
