:root {
    --white: rgb(255, 255, 255, 1);
    --lightgrey: #efefef;
    --grey: rgb(73, 79, 81, 1);
    --red: rgb(236, 0, 0, 1);
    --black: rgb(0, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--lightgrey);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex-grow: 1;
}

.cont-product-heroes {
    width: 100%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 256px;
    margin-bottom: 50px;
}

.products-heroes {
    position: relative;
    display: flex;
    width: 26%;
    height: 256px;
    padding: 8px;
    border-radius: 16px;
    align-items: flex-end;
    color: white;
    margin-top: -50px;
}

.products-heroes-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    box-shadow: inset 0px -25px 65px 10px black;
    transition: box-shadow 0.5s, filter 0.5s;
}

.products-heroes-bg:hover {
    box-shadow: inset 0px 0px 15px 5px black;
    filter: blur(0px);
}

.products-heroes>*:not(.products-heroes-bg) {
    filter: blur(0px);
    z-index: 99;
}

.products-heroes:first-child {
    margin-right: 15px;
}

.products-heroes-bg:first-child {
    background-image: url('/imgs/disneybg.jpg');
    margin-right: 15px;
}

.products-heroes-bg:last-child {
    background-image: url('/imgs/hbobg.jpg');
}

.icon-brand {
    width: 112px;
    margin-right: 16px;
}

.icon-brand img {
    width: 100%;
    border-radius: 16px;
}

.products-heroes span {
    font-weight: bold;
    font-size: 20px;
}

.textos-brand {
    padding-bottom: 20px;
    text-shadow: 0 0 5px black;
}


/*TE PUEDE INTERESAR*/

.cont-products-items {
    width: 1072px;
    margin: 0 auto;
}

.cont-products-items>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cont-products-items h3 {
    margin-bottom: 24px;
}

.tepuedeinteresar {
    margin-bottom: 30px;
}

.link-volver {
    text-decoration: none;
    color: black;
}