* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: rgb(153, 153, 153, 1);
  --lightgrey: rgb(153, 153, 153, 1);
  --grey: rgb(73, 79, 81, 1);
  --red: rgb(236, 0, 0, 1);
  --black: rgb(0, 0, 0, 1);
}

body {
  background-color: grey;
}

html {
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  width: 100%;
  height: 64px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  padding: 20px 16px;
}

/* Footer */

footer {
  color: var(--grey);
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 64px;
  backdrop-filter: blur(4px);
  padding: 16px 0;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  gap: 120px;
  align-items: center;
  position: absolute;
  bottom: 0px;
}

footer i {
  font-size: 20px;
}

.social-networks {
  display: flex;
  gap: 23px;
}

.apps {
  display: flex;
  gap: 16px;
}

.apps i {
  padding-right: 8px;
}
