.nav {
    background-color: #333333;
    display: flex;
    max-width: 1024px;
    height: 128px;
    margin: 60px auto;
    padding: 16px;
    border-radius: 16px;
    font-size: 16px;
    justify-content: space-between;
}

.cont-icons-bar {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cont-icons-bar svg {
    width: 40px;
    fill: rgba(255, 255, 255, 0.6);
}

.cont-icons-bar:not(:last-child)::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
}

.cont-icons-bar:hover>*,
.cont-icons-bar:hover svg {
    transform: scale(1.1);
    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}

.cont-icons-bar>*,
.cont-icons-bar svg {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    transition: transform 0.3s, color 0.3s, fill 0.3s;
}

@media (max-width:1024px) {
    .nav {
        display: none;
        flex-direction: column;
    }
}