.product-item {
    max-width: 256px;
    border-radius: 16px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid lightgray;
    margin-bottom: 20px;
    overflow: hidden;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-timing-function: linear;
}

.product-item:hover {
    animation-name: product-item;
}

@keyframes product-item {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.04);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

.product-img {
    width: 240px;
    height: 240px;
    margin-bottom: 8px;
}

.product-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.product-info {
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.product-name {
    position: relative;
    margin-right: 10px;
}

.product-name::after {
    content: '';
    width: 1px;
    height: 100%;
    background-color: lightgray;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-price span:last-child {
    display: inline-block;
    font-size: 8px;
    font-weight: lighter;
    line-height: 8px;
}

.product-item-link {
    text-decoration: none;
    color: black;
    display: block;
}

@media (max-width:1024px) {
    .product-item:hover {
        animation-name: none;
    }
}