/***** PRODUCTO *********/
.product-cardinfo {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 40px;
  gap: 10px;
}

.product-cardinfo > * {
  border-radius: 8px;
}

.product-cardinfo .product-info {
  border: 1px solid #cccccc;
  padding: 10px;
}

.product-image {
  flex-basis: 55%;
  background-image: url("/img/havanna1.jpg");
  background-size: cover;
  background-position: center;
}

.product-galery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-galery .galery-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
}
.product-galery .galery-item.active {
  border: 2px solid #ec0000;
}

.product-cardinfo .btn-carrito {
  width: 100%;
  background: #494f51;
  border: none;
  font-size: 12px;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 16px;
}

.product-info {
  flex-basis: 45%;
}
.product-info .product-title {
  font-size: 24px;
  font-weight: 400;
}
.product-info .product-valor {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product-info .product-valor .puntos {
  font-size: 40px;
  font-weight: 700;
}
.product-info .product-valor p {
  font-size: 16px;
  font-weight: 300;
}

.back-button a {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}
