/***** PRODUCTO *********/
.page-product-main {
  width: 1024px;
  margin: auto;
}

.page-product-cardinfo {
  background: #ffffff;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.page-product-cardinfo > * {
  border-radius: 8px;
}

.page-product-cardinfo .page-product-info {
  border: 1px solid #cccccc;
  padding: 10px;
}

.page-product-image {
  width: 640px;
}

.page-product-galery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.page-product-galery .galery-item {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  transition: all 200ms;
}
.page-product-galery .galery-item img,
.page-product-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.page-product-galery .galery-item:hover {
  filter: opacity(80%);
  transform: scale(1.1);
}

.page-product-galery .galery-item:first-child {
  border: 2px solid #ec0000;
}

.page-product-cardinfo .btn-carrito {
  width: 100%;
  background: #494f51;
  border: none;
  font-size: 12px;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 16px;
  transition: all 200ms;
}

.page-product-cardinfo .btn-carrito:hover {
  background: #ec0000;
}

.page-product-info {
  width: 304px;
}

.page-product-info .page-product-title {
  font-size: 24px;
  font-weight: 400;
}

.page-product-info .page-product-valor {
  display: flex;
  align-items: center;
  gap: 15px;
}

.page-product-info .page-product-valor .puntos {
  font-size: 40px;
  font-weight: 700;
}

.page-product-info .page-product-valor p {
  font-size: 16px;
  font-weight: 300;
}

.page-product-info .page-product-description {
  font-size: 12px;
}

@media (max-width: 800px) {
  .page-product-main {
    width: 90vw;
  }
  .page-product-cardinfo {
    flex-direction: column;
    gap: 10px;
  }
  .page-product-cardinfo > * {
    width: 100%;
  }
  .page-product-image {
    height: 250px;
  }
  .page-product-galery {
    flex-direction: row;
  }
}

.back-button a {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
  text-decoration: none;
  color: var(--black);
}

.back-button a:hover {
  color: var(--grey);
}
