<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <div class="cart-container">
      <p>← Volver</p>
      <h3 class="categoria-cart">Productos en tu Carrito</h3>
      <article class="cart-product-flex">
        <div class="cart-descripcion-flex">
          <img src="/public/alfajor.png" alt="" srcset="" />
          <span>Alfajores Havanna Chocolate 12 Unidades</span>
        </div>
        <div class="cart-botones-flex">
          <a class="boton" href="#">Quitar</a>
          <div class="cart-contador">
            <a class="cont-operador" href="#"> - </a>
            <span> 1 </span>
            <a class="cont-operador" href="#"> + </a>
          </div>
          <span class="cart-puntos">19.900</span>
        </div>
      </article>
      <div class="cart-puntos-total">
        <span class="cart-descripcion">Total de Puntos SuperClub</span>
        <span class="cart-puntos">41.400</span>
      </div>
      <div class="button-pagar">
        <a class="boton" href="/checkout">Ir a Pagar</a>
      </div>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
