<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header-logo') %>

    <main class="error-container">
      <img class="error-img" src="/imgs/elsa.gif" alt="" srcset="" />
      <p class="error-mensaje">¡Ooops!</p>
      <p>Elsa no encontró tu página</p>
      <%- include('../partials/tepuedeinteresar') %>
      <a class="error-volver" href="/">haz click aquí para volver al inicio</a>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
