<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body class="bodyfix">
    <%- include('../partials/header-logo') %>

    <main class="error-container">
      <img class="error-img" src="/imgs/elsa.gif" alt="" srcset="" />
      <p class="error-mensaje">¡Ups! Elsa no encontró tu página</p>
      <a class="error-volver" href="/">Haz click aquí para volver al inicio</a>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
