<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<link rel="stylesheet" href="/css/logeos.css">
<body>
<%- include('../partials/header-logo')%>
<div class="cuerpo-rojo"></div>
    <div class="div-form">
        <div class="div-adentro">
        <h2>¡Hola!</h2>
        <form method="get" action="/" class="formulario">
            <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Tu nombre de usuario">
            <input type="password" name="contraseñaUsuarioLogin" id="contraseñaUsuarioLogin" placeholder="Tu contraseña">
            <button>Iniciar Sesión</button>
        </form>
        </div>
    </div>
    <p class="texto-abajo">¿No tienes cuenta? <a class="links" href="/register">Regístrate</a></p>
    <%- include('../partials/footer')%>
</body>
</html>