<%# agregar includes include('pages/partials/back') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeradoLiebre</title>

    <!--- Iconos -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <!--- Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!--- Estilo -->
    <link href="./css/styles.css" rel="stylesheet" />
    <style>
      .back a {
        display: flex;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <%# agregar comentario %>
      <div class="back">
        <a class="link">
          <i class="fas fa-arrow-left"></i>
          <p>Volver al listado</p>
          <% if (categoria) { %>
          <i class="fas fa-chevron-right"></i>
          <%= categoria %> <% } %>
        </a>
      </div>
    </main>
  </body>
</html>
