<%# agregar includes include('pages/partials/back') %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main style="width: 75vw; margin: auto">
      <%# agregar comentario %>
      <div class="back-button">
        <a class="link">
          <i class="fas fa-arrow-left"></i>
          <p>Volver al listado</p>
          <% if (categoria) { %>
          <i class="fas fa-chevron-right"></i>
          <%= categoria %> <% } %>
        </a>
      </div>
      <div class="product-cardinfo">
        <div class="product-galery">
          <div class="galery-item" style="background-image: url('/img/havanna4.jpg');">
          </div>
          <div class="galery-item" style="background-image: url('/img/havanna2.jpg');">    
          </div>
          <div class="galery-item" style="background-image: url('/img/havanna1.jpg');">
          </div>
        </div>
        <div class="product-image">
        </div>
        <div class="product-info">
          <h3 class="product-title">Alfajores Havanna Chocolate 12 Unidades</h3>
          <div class="product-valor">
            <strong class="puntos">19.900</strong>
            <p>PUNTOS<br/>SUPERCLUB</p>
          </div>
          <button class="btn-carrito">Agregar al Carrito</button>
          <div class="product-description">
            <p>Voucher válido para una caja de 12 alfajores mixtos Havanna.</br>
            Para retirar el producto, sólo tenés que presentar el comprobante del canje en el local. Recordá que tus comprobantes de canje siempre quedan guardados en la opción “Detalle de puntos”. </p>
            <p>El voucher no es válido para delivery pero sí para Take away.</p>
            <p>No aplica para alfajores sabor “70 Cacao” o “Semilia”. </p>
            <p>Consultá los locales con take away en https://ticketbox.com.ar/sucursales/havanna. </p>
            <p>El canje del voucher se encuentra sujeto a disponibilidad del producto en el local. </p>
            <p>No combinable con otras promociones. Vigencia hasta 28/02/2022 o hasta agotar stock.</p>
          </div>
        </div>
      </div>
      <h3>También te puede interesar</h3>
        <%# includes nav products %>   
        <%# includes nav categorias %>      
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
