<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Register</title>
</head>
<body>
    <header></header>
    <div class="div-form">
        <h2>¡Registrate!</h2>
        <form class="formulario">
            <input type="email" name="emailUsuario" id="emailUsuario" placeholder="Tu email">
            <input type="password" name="contraseñaUsuario" id="contraseñaUsuario" placeholder="Tu nueva contraseña">
            <input type="password" name="contraseñaUsuarioRepetida" id="contraseñaUsuarioRepetida" placeholder="Repite tu contraseña">
            <button>Crear Cuenta</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="/login">Inicia Sesión</a></p>
    </div>
    <footer></footer>
</body>
</html>